<?xml version="1.0"?>
<config>
  <modules>
    <Lybe_Euvatchecker>
      <version>0.1.0</version>
    </Lybe_Euvatchecker>
  </modules>
  <frontend>
    <routers>
      <euvatchecker>
        <use>standard</use>
          <args>
            <module>Lybe_Euvatchecker</module>
            <frontName>euvatchecker</frontName>
          </args>
      </euvatchecker>
    </routers>
		<layout>
		  <updates>
			<euvatchecker>
			  <file>euvatchecker.xml</file>
			</euvatchecker>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <euvatchecker>
        <class>Lybe_Euvatchecker_Helper</class>
      </euvatchecker>
    </helpers>
	<blocks>
	  <euvatchecker>
		<class>Lybe_Euvatchecker_Block</class>
	  </euvatchecker>
	</blocks>
  </global>
</config> 